#contact {
  position: relative;
  width: 0 auto;
  //height: 100;
  display: flex;
  flex-direction: column;
  #main-footer {
    margin: 10em 3em;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      width: 50%;
      margin-right: 4em;
      line-height: 1.9em;
      font-size: 1.2em;
      font-family: calibri;
      //letter-spacing: 1px;
      a {
        text-decoration: underline;
        color: #000000;
        cursor: pointer;
      }
      a:hover {
        color: #252222;
      }
    }

    .panel-button5 {
      text-decoration: none;
      font-family: "PT Mono", monospace;
      font-size: 1.4em;
      margin: 3em;
      padding: 0.5em 0.5em;
      background: rgba(29, 75, 225, 0.863);
      color: #fff;
      border-radius: 10px 10px;
      transition: 0.5s;
    }
    .panel-button5:hover {
      transform: scaleX(1.2);
      transition: 0.5s;
      border-radius: 5px;
    }
  }
  #footer1 {
    background: url("../images/footer.png");
    background-size: 100% 100%;
    .container-contact {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .contact1,
      button {
        font-family: "PT Mono", monospace;
        font-size: 1em;
        padding: 0.5em 0.5em;
        border-radius: 10px 10px;
        transition: 0.5s;
      }
      button:hover {
        transform: scaleX(1.2);
        transition: 0.5s;
        border-radius: 5px;
      }
      .contact2 p {
        width: 60%;
        margin-left: 50%;
        line-height: 1.9em;
        font-family: calibri;
        letter-spacing: 1px;
        color: #fff;
        .fas {
          padding-right: 5px;
        }
      }
    }
    span {
      margin-bottom: 2px;
      position: relative;
      padding-top: 0.5em;
      left: 45%;
      color: #fff;
    }
  }
  #abc {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
  }
  div#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -12em;
    font-family: calibri;
  }
  form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 1px solid rgba(29, 75, 225, 0.863);
    border-radius: 10px;
    background-color: #fff;
    a {
      text-decoration: none;
      color: rgba(29, 75, 225, 0.863);
      top: 1%;
    }
  }
  h2 {
    background-color: #feffed;
    padding: 20px 35px;
    margin: -0.3em -2em;
    text-align: center;
  }
  hr {
    margin-top: 1em;
  }
  input[type="text"] {
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    font-family: calibri;
  }
  textarea {
    width: 82%;
    height: 4em;
    padding: 1em;
    resize: none;
    margin-top: 3em;
    border: 1px solid #ccc;
    padding-left: 2em;
    font-size: 1.1em;
    font-family: calibri;
    margin-bottom: 2em;
  }
  #submit {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgba(29, 75, 225, 0.863);
    color: #fff;
    padding: 10px 0;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 5px;
  }
}
