#contact {
  position: relative;
  width: 0 auto;
  //height: 100;
  display: flex;
  flex-direction: column;
  #main-footer {
    margin: 10em 3em;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      width: 50%;
      margin-right: 4em;
      line-height: 1.9em;
      font-size: 1.2em;
      font-family: calibri;
      //letter-spacing: 1px;
      a {
        text-decoration: none;
        color: #000000;
      }
      strong a :hover {
        color: #3f1b1b;
      }
    }

    .panel-button5 {
      text-decoration: none;
      font-family: "PT Mono", monospace;
      font-size: 1.4em;
      margin: 3em;
      padding: 0.5em 0.5em;
      background: #1e4ae2;
      color: #fff;
      border-radius: 10px 10px;
    }
  }
  #footer1 {
    //height: 35%;
    background: url("../images/footer.png");
    background-size: 100% 100%;
    .container-contact {
      // padding-top: 4%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .contact1,
      a {
        text-decoration: none;
        font-family: "PT Mono", monospace;
        font-size: 1.4em;
        margin: 3em;
        padding: 0.5em 0.5em;
        background: #fff;
        color: #000000;
        border-radius: 10px 10px;
      }
      .contact2 p {
        width: 60%;
        margin-left: 50%;
        line-height: 1.9em;
        font-family: calibri;
        letter-spacing: 1px;
        color: #fff;
        .fas {
          padding-right: 5px;
        }
      }
    }
    span {
      margin-bottom: 2px;
      position: relative;
      padding-top: 0.5em;
      // top: 30%;
      left: 45%;
      color: #fff;
    }
  }
}
