$styleMargin: 3em;
$styleColor: hsl(0, 0%, 0%);
$header: #fff;
$headerBg: hsla(226, 77%, 50%, 0.863);

#header-page {
  position: relative;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid $styleColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: url("../images/HeaderBg.png") no-repeat;
  .logo {
    margin-left: 4.3%;
    font-size: 1.8em;
    font-family: calibri;
    color: $header;
    text-decoration: none;
  }
  .main-nav ul li {
    margin-right: 3em;
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
    font-family: "PT Mono", monospace;
    font-size: 1.5em;
    margin: 2em;
    color: $header;
  }
  .sidenav {
    height: 25%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 0.7em 0;

    .sidenav a {
      margin: 0 0.7em;
      padding: 0.5em 0.5em 0.5em 2.7em;
      text-decoration: none;
      display: block;
      transition: 0.3s;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  .bar1 {
    width: 2.3em;
    height: 5px;
    margin: 6px 1em 1.5em 0;
    p {
      font-size: 1.4em;
      color: $header;
    }
  }
}

#Intro-page {
  position: relative;
  background: url("../images/HeaderBg1.png") no-repeat;
  background-size: 100% 55%;
  .main-sam {
    width: 50%;
    position: absolute;
    top: 43.5%;
    left: 20%;

    .p1 {
      margin: 0;
      position: absolute;
      bottom: 50%;
      left: 20%;
      font-size: 2.5em;
      font-family: calibri;
      transform: skewY(-9deg);
      color: $header;
    }
    .p2 {
      margin: 0;
      position: absolute;
      transform: skewY(-10deg);
      top: 48%;
      left: 20%;
      font-size: 2.5em;
      font-family: calibri;
    }
  }

  .images {
    float: right;
    margin: 10% 15% 0 0;
    top: 50%;
    right: 50%;
    img {
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #fff;
      width: 70%;
    }
  }
} // end of header

@media screen and (max-width: 1024px) {
  #header-page {
    width: 100%;
    padding: 0.5em 0 0.5em 0;
    .logo {
      margin-left: 2%;
      font-size: 1.7em;
    }

    .main-nav ul li {
      margin-right: 3em;
    }
    ul li a {
      font-size: 1.5em;
      margin: 0;
    }

    .sidenav {
      height: 25%;
      width: 0;
      top: 0;
      right: 1em;
      margin: 0.7em 0;
      .sidenav a {
        margin: 0 3em;
        padding: 0.5em 0.5em 0.5em 2.7em;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }

    .bar1 {
      p {
        font-size: 1.6em;
      }
    }
  }
  #Intro-page {
    .main-sam {
      top: 47.5%;
      left: 5%;
      .p1 {
        bottom: 50%;
        left: 20%;
        transform: skewY(-12deg);
      }
      .p2 {
        transform: skewY(-13deg);
        top: 48%;
        left: 20%;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  #header-page {
    padding: 0;
    .logo {
      margin-left: 1%;
      font-size: 1.7em;
    }
    .main-nav ul li {
      margin-right: 1em;
      font-size: 0.9em;
    }

    .sidenav {
      height: 30%;
      width: 0;
      padding-top: 1.7em;
      top: 0;
      right: 0;
    }
  }
  #Intro-page {
    background-size: 100% 95%;
    .main-sam {
      top: 76.5%;
      left: 10%;
      .p1 {
        bottom: 48%;
        left: 20%;
        transform: skewY(-26deg);
      }
      .p2 {
        transform: skewY(-29deg);
        top: 72%;
        left: 20%;
      }
    }
    .images {
      margin: 10% 12%;
      top: 30%;
      right: 50%;
    }
  }
}
@media screen and(max-width: 425px) {
  #header-page {
    width: 100%;

    .logo {
      margin-left: 1em;
      font-size: 1.3em;
      width: 100%;
    }
    .burger-nav {
      margin-right: 1px;
      .bar {
        width: 2em;
        height: 4px;
        background-color: #fff;
        margin: 0.3em 0;
        cursor: pointer;
      }
    }
    .main-nav ul {
      overflow: hidden;
      background: $headerBg;
      height: 0;
      display: block;
    }
    .main-nav ul.open {
      height: auto;
    }
    .main-nav ul li {
      text-align: center;
      height: 10%;
      margin-left: 0.4em;
    }
    .main-nav ul li a {
      border-bottom: 2px;
      display: block;
      margin: 0;
      font-size: 0.8em;
    }
    .bar1 {
      width: 2.3em;
      height: 5px;
      margin: 4px 1em 1.5em 0;
    }
  }

  #Intro-page {
    background-size: 100% 100%;
    .main-sam {
      width: 90%;
      top: 65%;

      .p1 {
        bottom: 40%;
        left: 3%;
        transform: skewY(-0);
        font-size: 1.7em;
      }
      .p2 {
        transform: skewY(-0);
        left: 3%;
        font-size: 1.7em;
        color: $header;
      }
    }
    .images {
      margin: 25% 0 0 15%;
      top: 50%;
      right: 50%;
      img {
        width: 80%;
      }
    }
  }
}
