#myskils-intro {
  position: relative;
  background: url("../images/Skils.png") no-repeat;
  background-position: right;
  background-size: 77.5% 100%;
  //vertical-align: text-top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & > .skils {
    display: flex;
    justify-content: space-between;
    .myskilsIntro {
      margin-bottom: 20%;
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      .about-me1 {
        width: 40%;
        margin: 7em 25% 0 0;
        p {
          margin: 0;
          padding: 0;
          font-size: 1.1em;
          text-align: justify;
          a {
            text-decoration: none;
            color: #000000;
          }
          strong a :hover {
            color: #3f1b1b;
          }
        }
      }
    }
    .mySkills {
      flex: 2;
      text-align: center;

      h1 {
        margin: 5em 0 1em 0;
        font-size: 2em;
        color: rgb(255, 255, 255);
        font-family: calibri;
        letter-spacing: 3px;
      }
      .mySkills-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 75%;
        height: 60%;

        .skillItem {
          width: 100%;
          height: 3.4em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: flex-end;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          h2 {
            height: 1em;
            display: block;
            margin-right: 1.7em;
            color: #fff;
          }
          .skillBar {
            width: 70%;
            height: 1em;
            background: rgba(255, 255, 255, 0.466);
            .skillColor {
              background: #fff;
              height: 100%;
              border-radius: 0 10px 10px 0;
              -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            }
          }
        }
        .html .skillColor {
          width: 80%;
        }
      }

      .css .skillColor {
        width: 70%;
      }

      .Sass .skillColor {
        background: #fff;
        width: 80%;
      }
      .Bootstrap .skillColor {
        background: #fff;
        width: 70%;
      }
      .Javascript .skillColor {
        background: #fff;
        width: 70%;
      }
      .git .skillColor {
        background: #fff;
        width: 55%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #myskils-intro {
    background-size: 78% 100%;
    & > .skils {
      .mySkills {
        h1 {
          margin: 3em 0 0.5em 0;
        }
        .mySkills-group {
          width: 90%;
          height: 65%;
          .skillItem {
            h2 {
              height: 2em;
              margin: 1em 0.5em 0 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #myskils-intro {
    background-size: 85% 100%;
    & > .skils {
      .myskilsIntro {
        margin-bottom: 40%;
        flex: 6;
        .about-me1 {
          width: 65%;
          margin: 7em 20% 0 0;
        }
      }
      .mySkills {
        flex: 7;
        h1 {
          margin: 3em 0 0 0;
        }
        .mySkills-group {
          width: 85%;
          height: 60%;
          .skillItem {
            h2 {
              height: 2.1em;
              margin: 1em 0.2em 0 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  #myskils-intro {
    position: absolute;
    background: url("../images/skils425Bg.png") no-repeat;
    background-position: right;
    background-size: 100% 100%;

    & > .skils {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .myskilsIntro {
        margin: 25% 0 25% 15%;
        .about-me1 {
          p {
            margin: 0;
            padding: 0;
            font-size: 1em;
            color: #ffffff;
            a {
              color: #ffffff;
            }
          }
        }
      }
      .mySkills {
        margin: 0 0 20% 3%;
        flex: 9;
        h1 {
          margin: 3em 0 0 0;
          letter-spacing: normal;
          font-size: 1.5em;
        }
        .mySkills-group {
          width: 90%;
          height: 10%;
          .skillItem {
            width: 90%;
            height: 1.7em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            h2 {
              font-size: 1.2em;
              height: 2em;
              margin: 1em 0.2em 0 0;
            }
          }
        }
      }
    }
  }
}
