#myexperiences {
  position: relative;
  background: url("../images/About-me.png") no-repeat;
  background-size: 100% 100%;
  .experiences {
    margin: 0;
    padding-top: 3.2%;
    h1 {
      padding: 5px;
      font-size: 2em;
      margin: 0;
      font-family: calibri;
      text-align: center;
      color: #fff;
    }
    .experience0 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.6em;
      .experience1 {
        margin-left: 10%;
        padding-left: 5em;
      }
      .experiences2 {
        padding-right: 5em;
      }
      .experience1,
      .experiences2 {
        box-sizing: border-box;
        strong {
          line-height: 1.7em;
          padding: 0.3em 0 0 1em;
          color: #fff;
          font-size: 0.9em;
        }
        p {
          padding-left: 1em;
          color: #fff;
          line-height: 1.7em;
          font-family: calibri;
          letter-spacing: 1px;
        }
        span {
          color: #fff;
        }
        time {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #myexperiences {
    .experiences {
      padding-top: 0;
      width: 100%;
      h1 {
        padding-top: 2em;
        font-size: 1.6em;
        margin: 0;
      }
      .experience0 {
        margin: 0;
        .experience1 {
          margin-left: 8%;
          padding-left: 5em;
        }
        .experiences2 {
          margin: 0 7% 0 1.5em;
        }
        .experience1,
        .experiences2 {
          strong {
            line-height: 1.5em;
            padding: 0.3em 0 0 1em;
            font-size: 0.7em;
          }
          p {
            line-height: 1.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #myexperiences {
    .experiences {
      h1 {
        padding-top: 1.5em;
        font-size: 1.5em;
      }
      .experience0 {
        .experience1 {
          margin-left: 14%;
          padding-left: 1.4em;
        }
        .experiences2 {
          margin: 0 1% 0 0;
        }
        .experience1,
        .experiences2 {
          strong {
            line-height: 1.1em;
            padding: 0.3em 0 0 1em;
            font-size: 0.7em;
          }
          p {
            line-height: 1.2em;
          }
          time {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
